
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
:root{
  --fontFmaily: "Roboto", sans-serif;
}
.header {
  text-align: center;
  margin: 2vmax;
  font-family: var(--fontFmaily);
}
.header > h1{
  text-decoration: underline #5A20CB;

}
/* componets styling */
.main-div {
  width: 35%;
  margin: 30px auto;
  min-width: 200px;
  max-width: 50%;
  /* border: 3px dotted gray; */
  min-height: auto;
  /* border-radius: 18px; */
}
.balance,.balance-amount {
  font-family: var(--fontFmaily);
  padding: 25px 25px 0px 25px;
  font-size: 3em;
  font-weight: lighter;
}
.balance-amount{
  padding: 0px 25px 20px 25px;
  color:  #5A20CB;
}
.income-and-expense{
  display: inline-flex;
  justify-content: center;
  width: 75%;
  height: 100px;
  padding: 20px;
  margin: 20px;
  min-width: 200px;
  font-weight: 100;
  font-size: 1.5em;
}
.income{
  border-right: 1px solid gray;
  border-radius: 5px;
  padding-right: 30px;
  height: 70px;
}
.income > h2 ,.expense > h2 {
  font-family: var(--fontFmaily);
  font-weight: lighter;  
}
.expense{
  padding-left: 30px;
}
.income-amount{
  color: rgba(88, 196, 88, 0.9);
}
.expense-amount{
  color: rgba(221, 43, 43,  0.9);
}
.history-heading{
  margin: 10px;
  padding: 20px 0px 10px 20px;
  font-family: var(--fontFmaily);
   font-size: 40px;
   font-weight: lighter;
}
.history{
  list-style-type: none;
  

}
.history > li{
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  font-weight: bold;
  padding-top: 6px;
  border: 1px solid black;;
  box-sizing: border-box;
  margin-bottom: 10px;
  margin-left: 15px;
  width: 80%;
  height: 40px;
  min-width: 200px;
  text-align: center;
  border-color: blueviolet;
  border-radius: 5px;
}
/* we are saying that li tag ka ander classes ha unko target karo  */
li.minus{
  border-right: 6px solid red;
}
li.plus{
  border-right: 6px solid rgba(88, 196, 88, 0.9);
}

 .delete-button{
   opacity: 0.9;
   background-color: white;
   border-style: none;
   cursor: pointer;
  font-size: 20px;
  position:absolute;
  line-height: 35px;
  height: 30px;  
}
.delete-button:hover{
  background-color: #EF5354;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  outline-style: none !important;
  
}
.main-Transactions{
  margin-top: 20px;
  width: 40%;
}

.AddTransaction{
  width: 100%;
  margin:  auto;
  font-size: 30px;
  margin-left: 4%;
}
.addtext,.button{
  width: 202% !important;  
  margin-left: 4%;
  height: 30px;
  border-radius: 5px;
}
.icomeandexpense{
  font-size: 20px !important;
  font-weight: bold;
  margin-left: 12px;
}
.button{
  margin-top: 8%;
  height: 40px;
  cursor: pointer;
  font-size: 1.5rem;
  font-family: "Dosis";
}
.button:hover{
  background-color: mediumpurple;
  color: #fff;
  border: none;
}